{% extends "base.html" %}
{% load static %}


{% block title %}Lista de Cursos{% endblock title %}

{% block content %}
<div class="container">
		<div class="card mb-3 img-fluid">
			{% if object_list %}
				{% for curso in object_list %}
				  <img class="card-img-top" src="{{curso.banner_img.url}}" width="780" height="250">
				  <div class="card-body">
				    <h5 class="card-title">{{curso.nombre}}</h5>
				    <p class="card-text">{{curso.descripcion}}</p>
				    <a href="{% url 'view_curso' slug=curso.slug %}">
				    	<button type="button" class="btn btn-primary mb-3">Ir al curso >></button>
				    </a>
				    <a href="javascript:history.back()">
				    	<button type="button" class="btn btn-secondary mb-3">Atras</button>
				    </a>
				    <p class="card-text"><small class="text-muted">Ultima actualizacion en : {{curso.actualizado}}</small></p>
				  </div>	
				{% endfor %}
			{%else %}
			<h2>No hay ningun curso registrado!</h2>
			{% endif %}

		</div>
</div>
{% endblock %}

