{% extends "base.html" %}

{% block title %} {{curso.nombre}} - Detalles {% endblock title %}

{% block content %}
<div class="container">
	<div class="card mx-auto mb-3">
	  <div class="card-header">
	    Dictado por : {{curso.profesor}}
	  </div>
	  <div class="card-body">
	    <h4 class="card-title">{{curso.nombre | title}}</h4>
	    <h6 class="card-subtitle mb-2 text-muted">{{curso.programa}}</h6>
	    <strong>  Pre requisito:</strong><mark>{{curso.pre_requisito}}</mark>
	    <strong>  Numero de creditos:</strong><mark>{{curso.num_credito}}</mark>
	    <strong>  Ciclo academico:</strong><mark>{{curso.ciclo_academico}}</mark>
	    <p class="card-text"> {{curso.descripcion}} </p>
	    <div class="list-group">
	    {% for aula in aulas %}
		    {% if current_sesion == aula.num_sesion %}
				<a href="{% url 'view_aula' slug=curso.nombre pk=aula.id %}" class="list-group-item list-group-item-action active">
			{% else %}
				<a href="{% url 'view_aula' slug=curso.nombre pk=aula.id %}" class="list-group-item list-group-item-action">
			{% endif %}		
				    <div class="d-flex">
					  <div class="mr-auto p-2">Sesion {{aula.num_sesion}} - {{aula.nombre}}</div>
					  <div class="p-2"><span class="fa fa-file-powerpoint-o"></span></div>
					  <div class="p-2"><span class="fa fa-file-word-o"></span></div>
					  <div class="p-2"><span class="fa fa-file-word-o"></span></div>
					</div>
			  	</a>
		{% endfor %}
		</div>
		<a href="javascript:history.back()">
			<button type="button" class="btn btn-secondary mt-3">Atras</button>
		</a>
	  </div>
	</div>
</div>
{% endblock %}